<div>
  <h3>Employee Details</h3>
  <div class="employee-details">
    <div class="d-flex flex-row">
      <span class="pe-3">First name: </span>
      <strong>{{ employeeDetails.firstName }}</strong>
    </div>
    <div class="d-flex flex-row">
      <span class="pe-4">Last name: </span>
      <strong>{{ employeeDetails.lastName }}</strong>
    </div>
    <div class="d-flex flex-row">
      <span class="pe-4">Email: </span>
      <strong>{{ employeeDetails.emailId }}</strong>
    </div>
  </div>
</div>
